.App {
  text-align: center;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  
}
table,tr,td{
  border: 1px solid silver;
  padding:4px;
}
table{
  width:50%;
  margin-left:25%;
  border-collapse: collapse;
}
.tfoot{
  text-align: center;
}